<div class="panel panel-info">
  <div class="panel-heading">
    <div class="page-header">
      <h2>Editing user <small>Beta</small></h2>
    </div>
  </div>
  <div class="panel-body">
    <%= render 'form' %>
    <%= link_to 'Show', @user %> |
	<%= link_to 'Back', users_path %>
  </div>
</div>
