<div class="panel panel-info">
  <div class="panel-heading">
    <div class="page-header">
      <h2>New department</h2>
    </div>
  </div>
  <div class="panel-body">
    <%= render 'form' %>
    <%= link_to 'Back', departments_path %>
  </div>
</div>
